@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Identification Number</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Credit Card Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <th scope="row">@employee.Id</th>
                <td>@employee.IdentificationNumber</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.CreditCardNumber</td>
            </tr>
        }
    </tbody>
</table>